/*@import "normalize.css";*/

* {
    box-sizing: border-box;
}

body {
    padding: 0 10px;
    font-family: 'Comfortaa', cursive;
    background: url(../img/background.png);
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

.clear {
    clear: both;
}

.main,
.pagination,
.social,
.main-form,
.sidebar {
    padding: 10px 5px;
    border: 3px solid #babddb;
    border-radius: 10px;
}


/*--------HEADER BEGIN------------*/

.header-wrapper,
.header-top-wrapper,
.main,
.pagination,
.social,
.main-form,
.footer-wrapper {
    max-width: 1170px;
    margin: 20px auto;
}

.header__nav-item,
.header__slider-item,
.header__authorized-item,
.sidebar__social-item,
.social__content-item,
.pagination-item,
.footer__nav-item,
.footer__content-item,
.footer__social-item {
    display: inline-block;
}

.header-top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo img {
    max-width: 90px;
}

.header__logo {
    text-align: center;
    cursor: pointer;
}

.header__logo-text {
    text-transform: uppercase;
}

.header__nav {
    width: 50%;
}

.header__nav-list {
    display: flex;
    justify-content: center;
}

.header__nav-item {
    margin-left: 20px;
}

.header__nav-item a {
    text-decoration: none;
    text-transform: uppercase;
}

.header__nav-item:first-child {
    margin-left: 0;
}

.header__form input {
    max-width: 100px;
}

.header__slider {
    display: none;
}


/*--------HEADER END------------*/


/*--------MAIN BEGIN------------*/

.wrapper {
    justify-content: space-between;
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.main {
    height: 100%;
    margin-right: 1%;
    display: flex;
    max-width: 72%;
    flex-direction: column;
    align-items: center;
}

.main__content {
    position: relative;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.main__h1-text {
    align-self: flex-start;
}

.main__img {
    margin: auto;
    width: 40%;
    max-height: 380px;
}

.main__img-link {
    display: block;
}

.main__img-link img {
    max-width: 100%;
}

.main__text {
    padding-bottom: 40px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.main__text-h2 {
    align-self: center;
}

.main__text-p {
    padding-top: 10px;
}

.main__content-button {
    color: #fff;
    background-color: #32BEA6;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    align-self: center;
}

.main__content-button:hover {
    -webkit-box-shadow: 2px 2px 2px 2px #10140B;
    box-shadow: 2px 2px 2px 2px #10140B;
}


/*--------MAIN END------------*/


/*--------SIDEBAR BEGIN------------*/

.sidebar {
    margin-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
}

.sidebar__popular {
    width: 90%;
    margin: 10px 0;
}

.sidebar__popular-content {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar__popular-link {
    display: block;
    max-width: 80px;
}

.sidebar__popular-link img {
    max-width: 75px;
}

.sidebar__popular-text {
    max-width: 120px;
}

.sidebar__popular-text:hover {
    text-decoration: underline;
}


/*--------SIDEBAR END------------*/


/*--------PAGINATION BEGIN------------*/

.pagination-list {
    text-align: center;
}

.pagination__arrow-left, .pagination__arrow-right {
    display: inline-block;
}


/*--------PAGINATION END------------*/


/*--------SOCIAL BEGIN------------*/

.social__content-item {
    text-align: center;
    width: 100px;
    height: 100px;
}


/*--------SOCIAL END------------*/


/*--------SIDEBAR BEGIN------------*/


/*--------SIDEBAR END------------*/


/*--------FOTER BEGIN------------*/

.footer__social-item,
.sidebar__social-item {
    width: 50px;
    height: 50px;
}


/*--------FOOTER END------------*/
